[package]
name = "encoderfile-runtime"
version = "0.3.0"
edition = "2024"
publish = false

[dependencies]

[dependencies.encoderfile-core]
path = "../encoderfile-core"
version = "0.3.0"
features = ["transport"]

[dependencies.anyhow]
workspace = true

[dependencies.parking_lot]
workspace = true

[dependencies.clap]
workspace = true

[dependencies.tokio]
workspace = true

[features]
bench = []
dev-utils = []
