[package]
name = "encoderfile-runtime"
version = "0.3.0"
edition = "2024"
publish = false

[dependencies]

[dependencies.encoderfile-core]
version = "0.3.0"
features = ["transport"]

[features]
bench = []
