name: Run Unit Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libssl-dev pkg-config cmake zlib1g-dev libdw-dev binutils-dev libelf-dev
          curl -L https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
          cargo binstall cargo-tarpaulin --no-confirm

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      
      - name: Run project setup
        run: make setup

      - name: Generate dummy env file
        run: uv run -m encoderbuild.utils.create_dummy_env_file > .env
      
      - name: Generate code coverage
        run: |
          cargo tarpaulin \
            --all-features \
            --workspace \
            --timeout 180 \
            --out xml

      - name: Upload to codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
